<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="userid" value="USERID" />
    <!-- Simple password - leave blank to use the password64-->
    <add key="password" value="PASSWORD" />
    <!-- Base64Encoded password - at least one passord field must be completed-->
    <add key="password64" value="BASE64PWORD" />
    <add key="url" value="https://my.sharpcloud.com" />
    <add key="storyid" value="00000000-0000-0000-0000-000000000000" />
    <add key="dbType" value="SQL" />
    <add key="connectionString" value="CONNECTIONSTRING" />
    <add key="queryString" value="QUERYSTRING" />
    <add key="queryStringRels" value="QUERYRELSSTRING" />
    <!-- Add a path to log file if required - leave blank for no logging-->
    <add key="LogFile" value="LOGFILE" />
    <add key="unpublishItems" value="UNPUBLISHITEMS" />
    <add key="proxy" value="PROXYADDRESS" />
    <add key="proxyAnonymous" value="PROXYANONYMOUS" />
    <add key="proxyUsername" value="PROXYUSERNAME" />
    <add key="proxyPassword" value="PROXYPWORD" />
    <add key="proxyPassword64" value="BASE64PROXYPWRD" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
